#container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    margin: 10px auto; 
}

#container div {
    box-sizing: border-box;
    border: 1px solid blue;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}